<!DOCTYPE html>

<html>
    <head>
        <title>Linking Science!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
	
    <body>

    <div class="container">
	
      <div class="navbar navbar-inverse">
       <a class="navbar-brand" href="/">Linking Sciences</a>
       <ul class="nav navbar-nav">
        <li><a href="../">Home</a></li>
        <li class="active"><a  href="../about/">About</a></li>
        <li><a href="#">The Team</a></li>
       </ul>
      <button type="button" class="btn btn-default navbar-btn pull-right"><a class="navbar-link" href="../sign-in/">Sign in</a></button>
      </div>


	  <div class="body-content">
	  
	   <div class="page-header">
	    	<center><h1 text-align: center>Improve your life</h1></center>
	    	<center><p text-align: center>Tomas Green</p></center>
	   </div>
	  
	   
	   <div class="row">
         <div class="col-lg-10">
	       <dl class="dl-horizontal">	    
              <dt>  Key points:</dt> <dd>medicine, alimentation</dd>  </dt>     
	          <dt>  Who we need:</dt> <dd> programmer, web-developer</dd> 
	          <dt>  Main goals:</dt> <dd>provide interface for sharing experiences about alimentation</dd>
		   </dl>
		 </div>
		 
		 <div class="col-lg-2">
		   <button type="button"  class="btn btn-success btn-large">Get involved</button> 
		 </div>
		 
		 <div class="col-lg-12">
		   <dl class="dl-horizontal">
		         <dt> Project description:</dt> <dd> In 1962 David Gale (who died in 2008) and Mr Shapley, now 89, published 
		 a playful paper called “College Admissions and the Stability of Marriage”. They noted the similarity between college admissions,
		 in which students and universities are trying to pair up to their mutual satisfaction, and the marriage market, in which a fixed number 
		 of men and women are trying to find a match. In romantic comedies, each man and woman marries their own true love. In real life, some people settle for 
		 second-best, which can lead to lots of trouble. If John and Mary love each other but are married to other people, they will be tempted to leave their current partner 
		 and marry each other. 
		 But if John loves Mary, while Mary loves her husband more than John, both will stay put.</dd> 
		 <p></p>
		 
		        <dt>Additional materials:</dt> <dd> <iframe width="420" height="345"
                 src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe> </dd>
		 
		   </dl>
		 </div>
  
        <div class="col-lg-2">
	          <h4>Rate project:</h4>
        </div>
	
		 <div class="col-lg-6">
		 <div class="btn-group">
			<button type="button" class="btn btn-default">Poor</button>
			<button type="button" class="btn btn-default">Normal</button>
			<button type="button" class="btn btn-default">Good</button>
			<button type="button" class="btn btn-default">Very good</button>
			<button type="button" class="btn btn-default">Excellent</button>
			</div>
		 </div>
		 
	  </div>
 
	 <hr>
	   
	   <h4>Contact:</h4>
	   
		<address>
		 <strong>Twitter, Inc.</strong><br>
				 795 Folsom Ave, Suite 600<br>
				 San Francisco, CA 94107<br>
				 <abbr title="Phone">P:</abbr> (123) 456-7890
		 </address>

	</div> <!-- /container -->

  </body>
</html>