<!DOCTYPE html>

<html>

<head>
	<title>Tests page!</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>

<body>
Write all your tests below.<br><br>

<style type="text/css">
	.btn {
		padding-top: 5px;
		margin-top: 5px;
	}
</style>

<div class="container">

	<div class="body-content">

		<div class="row">

			<div class="col-lg-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Physics</h3>
					</div>
					<a href="#" class="btn btn-primary">Actiohhhhhhn</a>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-primary">Action</a>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Biology</h3>
					</div>
					<a href="#" class="btn btn-success">Actiohhhhhhn</a>
					<a href="#" class="btn btn-success">Action</a>
					<a href="#" class="btn btn-success">Action</a>
					<a href="#" class="btn btn-success">Action</a>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Chemistry</h3>
					</div>
					<a href="#" class="btn btn-danger">Actiohhhhhhn</a>
					<a href="#" class="btn btn-danger">Action</a>
					<a href="#" class="btn btn-danger">Action</a>
					<a href="#" class="btn btn-danger">Action</a>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Mathematics</h3>
					</div>
					<a href="#" class="btn btn-info">Actiohhhhhhn</a>
					<a href="#" class="btn btn-info">Action</a>
					<a href="#" class="btn btn-info">Action</a>
					<a href="#" class="btn btn-info">Action</a>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Computing</h3>
					</div>
					<a href="#" class="btn btn-default">Actiohhhhhhn</a>
					<a href="#" class="btn btn-default">Action</a>
					<a href="#" class="btn btn-default">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</div>
			</div>

		</div>

	</div>

</div>

</body>

</html>